<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script src="/myJavaScript.js" defer></script>
    <script>
      
      const stripePublicKey = "<%= publishableKey %>"

    </script>



  <title>Home</title>
</head>
<body>
  
  <h1>Home</h1>
  <button id="myPayButton" >Buy the SilvenLEAF ORG</button>








</body>
</html>